---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
TabWidth: 4
UseTab: Never
PointerAlignment: Right
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
SpaceAfterCStyleCast: false
ReflowComments: false
...
